.animtitre{
    animation: animtitre 5s;


}


//animation du titre
@keyframes animtitre {
    from {
        transform: translateY(-20vh);

    }

    to {
        transform: translateY(0%);
    }
}

.animdescription{
animation: animdescription 5s;

}

//animation de la description
@keyframes animdescription {
    from {
        transform: translateX(40vh);

    }

    to {
        transform: translateX(0%);
    }
}